html {
  position: relative;
}
.alert {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 373px;
  height: 125px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: white;

  &_message {
    span {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
