.room_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.videoRoom {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  p {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
  }

  @media (max-width: 1330px) {
    flex-direction: column;
    align-items: center;
  }
}

.sandclock {
  width: 120px;
  height: 120px;
  background-image: url(../../assets/sandclock.gif);
  background-repeat: no-repeat;
}

.waiting_clocks {
  width: 250%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 980px) {
    width: 100%;
    margin: 15px;

    p {
      width: 50%;
    }
  }
}

.progress_admin {
  width: 250%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .progressbar {
    height: 120px;
    width: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top-color: #474747;
    animation: rotation 5s forwards linear infinite;
  }

  span {
    width: 35vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 700;
  }

  @media (max-width: 980px) {
    margin: 15px;
    width: 100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  84% {
    transform: rotate(500deg);
  }
  95% {
    border: 5px solid #fff;
    border-top-color: #474747;
  }
  100% {
    transform: rotate(1060deg);
  }
}
