.videoRoom {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  p {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.sync {
  cursor: pointer;
  background-color: rgb(87, 87, 87);
  color: white;
  margin: 0 auto;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}

.video_info {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    list-style: none;
  }

  @media (max-width: 450px) {
    width: 97%;
  }
}
