.tutorial {
  width: 250%;
  height: 70%;

  @media (max-width: 980px) {
    height: 350px;
  }
  @media (max-width: 500px) {
    height: 500px;
  }
}

.tutorial_search_arrow {
  width: 150px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 90px;
  left: 300px;
  transform: rotate(-50deg);
  &:before {
    position: absolute;
    top: 9px;
    right: -5px;
    content: '';
    transform: rotate(-45deg);
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &:after {
    content: '';
    position: absolute;
    top: -9px;
    right: -5px;
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    transform: rotate(50deg);
    width: 300px;
    top: 0px;
    left: -200px;
  }
  @media (max-width: 700px) {
    left: 9%;
    p {
      width: 250px;
    }
  }
  @media (max-width: 500px) {
    width: 50px;
    transform: rotate(-90deg);
    left: 20%;
    top: 30px;
    p {
      transform: rotate(90deg);
      top: -60px;
    }
  }
}
.tutorial_info_arrow {
  width: 150px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 90px;
  left: 70%;
  transform: rotate(0);
  &:before {
    position: absolute;
    top: 9px;
    right: -5px;
    content: '';
    transform: rotate(-45deg);
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &:after {
    content: '';
    position: absolute;
    top: -9px;
    right: -5px;
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    width: 300px;
    top: 25px;
    left: -70px;
  }

  @media (max-width: 1200px) {
    width: 0px;
    left: 112%;
    &:after,
    &:before {
      width: 0px;
    }
    p {
      width: 250px;
    }
  }
  @media (max-width: 980px) {
    top: 450px;
    left: 6%;
  }
  @media (max-width: 700px) {
    transform: rotate(120deg);
    width: 110px;
    top: 220px;
    left: 23%;
    &:after,
    &:before {
      width: 30px;
    }
    p {
      transform: rotate(-120deg);
      top: -40px;
      left: -200px;
    }
  }
  @media (max-width: 500px) {
    width: 50px;
    transform: rotate(90deg);
    left: 20%;
    top: 400px;
    p {
      transform: rotate(-90deg);
      top: -70px;
      left: -210px;
    }
  }
}
.tutorial_offer_arrow {
  width: 150px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 450px;
  left: 70%;
  &:before {
    position: absolute;
    top: 9px;
    right: -5px;
    content: '';
    transform: rotate(-45deg);
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &:after {
    content: '';
    position: absolute;
    top: -9px;
    right: -5px;
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  p {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    width: 300px;
    top: 25px;
    left: -70px;
  }

  @media (max-width: 1200px) {
    width: 0px;
    left: 112%;
    &:after,
    &:before {
      width: 0px;
    }
    p {
      width: 250px;
    }
  }
  @media (max-width: 980px) {
    left: 26%;
  }
  @media (max-width: 700px) {
    left: 16%;
  }
  @media (max-width: 500px) {
    left: 15%;
    top: 650px;
  }
}
