.tutorial {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  button {
    cursor: pointer;
    border: 0px;
    width: 70px;
    height: 25px;
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(46, 46, 46);
    color: white;
  }
}

.tutorial_search {
  position: relative;
  width: 300px;
  height: 300px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  top: 150px;
  left: 25%;

  span {
    position: absolute;
    width: 190px;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  button {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  @media (max-width: 470px) {
    left: 8vw;
  }
}

.tutorial_offer {
  position: relative;
  width: 300px;
  height: 300px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  top: 100px;
  left: 33%;

  span {
    position: absolute;
    width: 210px;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    bottom: 70px;
    justify-content: center;
  }

  @media (max-width: 470px) {
    left: 10vw;
  }
}

.tutorial_info {
  position: relative;
  width: 300px;
  height: 300px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  top: 40%;
  left: 55%;

  span {
    position: absolute;
    width: 210px;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    bottom: 90px;
    justify-content: center;
  }

  @media (max-width: 1660px) {
    top: 560px;
    left: 45%;
  }

  @media (max-width: 980px) {
    top: 50px;
    svg {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 760px) {
    top: 100px;
    left: (calc((100vw - 300px) / 2));
  }
}
